<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <h1>About me</h1>
    <h2>Academics</h2>
        <p>I graduated from Howard Community College and currently attend University of Maryland,
            College Park. </p>
    <h2>Work Experience</h2>
        <p>I used to work for DoorDash and Instacart. I am currently an intern at GRF.</p>
    <h2>Classes completed</h2>
        <ul>
            <li>BMGT301</li>
            <li>BMGT302</li>
            <li>BMGT402</li>
        </ul>
    <h2>Favorite classes</h2>
        <ol>
            <li>BMGT301</li>
            <li>BMGT402</li>
            <li>BMGT302</li>
        </ol>

    <h2>Courses and semesters</h2>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT301</td>
            <td>Fall 2021</td>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2022</td>
        </tr>

    </table>
</head>
<body>

</body>
</html>